version: '3.8'

networks:
  serving_prod_net:
    external: true

services:
  reporting:
    container_name: reporting
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    volumes:
      - ../data:/data  # car doit pouvoir voir ref_data.csv et prod_data.csv
    networks:
      - serving_prod_net