version: "3.8"
networks:
  serving_prod_net: # nom exact du réseau créé par l'autre docker-compose
    external: true  # on précise ici que le réseau existe déjà -> connecte-toi dessus

services:
  n8n:
    image: n8nio/n8n
    container_name: xyf-n8n-2
    ports:
      - "5678:5678"
    volumes:
      - xyf_n8n_data:/home/node/.n8n
      - ../data:/data  # Montage du dossier data pour accès aux CSV
      - ../scripts:/data/scripts  # Montage du dossier scripts
      - ../artifacts:/data/artifacts  # Montage du dossier artifacts
    environment:
      - N8N_CUSTOM_EXTENSIONS=/data
    networks:
      - serving_prod_net # on le branche sur ce réseau externe

  python-worker:
    image: python:3.11-slim
    container_name: python-retrain-worker
    volumes:
      - ../data:/app/data
      - ../scripts:/app/scripts
      - ../artifacts:/app/artifacts
      - ./retrain_service.py:/app/retrain_service.py
      - ./requirements.txt:/app/requirements.txt
    working_dir: /app
    ports:
      - "9000:9000"
    command: >
      bash -c "pip install --no-cache-dir -r /app/requirements.txt && python /app/retrain_service.py"
    networks:
      - serving_prod_net


volumes:
  xyf_n8n_data:

