version: '3.8'

networks:
  serving_prod_net:
    external: true

services:
  rag:
    container_name: rag
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    networks:
      - serving_prod_net