version: '3.8'

networks:
  serving_prod_net: # nom exact du réseau créé par l'autre docker-compose
    external: true  # on précise ici que le réseau existe déjà -> connecte-toi dessus

services:
  webapp:
    container_name: webapp
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      - API_URL=http://serving-api:8080/predict # on utilise le container_name du back
    networks:
      - serving_prod_net # on le branche sur ce réseau externe